.blog {
  text-decoration: none;
}

.mainPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blogCard {
  padding: 15px; /* JUST TO LOOK COOL */
  border: 1px solid #eee; /* JUST TO LOOK COOL */
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.3s ease-in-out;
}
.blogCard:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}

.card {
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 20px;
}
